<a href="https://colab.research.google.com/github/viswajeet-sarangi-A/Python/blob/main/Lab_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Lists , tuples , sets , dictionaries
1.The following is a list of 10 students ages:
# List of student ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# I. Sort the list and find the min and max age
ages.sort()
min_age = ages[0]
max_age = ages[-1]
print(f"Sorted ages: {ages}")
# II. Add the min age and the max age again to the list
ages.extend([min_age, max_age])
# III. Find the median age
n = len(ages)
if n % 2 == 0:
    median_age = (ages[n // 2 - 1] + ages[n // 2]) / 2
else:
    median_age = ages[n // 2]
# IV. Find the average age
average_age = sum(ages) / len(ages)
# V. Find the range of the ages
age_range = max_age - min_age
# VI. Compare the value of (min - average) and (max - average), use abs() method
min_avg_diff = abs(min_age - average_age)
max_avg_diff = abs(max_age - average_age)
print(f"Min age: {min_age}")
print(f"Max age: {max_age}")
print(f"Ages after adding min and max again: {ages}")
print(f"Median age: {median_age}")
print(f"Average age: {average_age}")
print(f"Range of ages: {age_range}")
print(f"Difference between min and average age: {min_avg_diff}")
print(f"Difference between max and average age: {max_avg_diff}")

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26
Ages after adding min and max again: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median age: 24.0
Average age: 22.75
Range of ages: 7
Difference between min and average age: 3.75
Difference between max and average age: 3.25

In [ ]:
2.WAP to iterate through the list,['Python', 'Numpy', 'Pandas', 'Django', 'Flask'] using a for loop and print out the items.
items = ['Python', 'Numpy', 'Pandas', 'Django', 'Flask']
for item in items:
    print(item)

Python
Numpy
Pandas
Django
Flask

In [ ]:
3.Create fruits, vegetables and animal products tuples3
# Tuples
fruits = ('apple', 'banana', 'cherry')
vegetables = ('carrot', 'broccoli', 'spinach')
animal_products = ('milk', 'cheese', 'yogurt')
# I. Join the three tuples
food_stuff_tp = fruits + vegetables + animal_products
print("Food Stuff Tuple:", food_stuff_tp)
# II. Convert tuple to list
food_stuff_lt = list(food_stuff_tp)
print("Food Stuff List:", food_stuff_lt)
# III. Slice out the middle item(s)
middle_index = len(food_stuff_lt) // 2
if len(food_stuff_lt) % 2 == 0:
    middle_items = food_stuff_lt[middle_index - 1:middle_index + 1]
else:
    middle_items = food_stuff_lt[middle_index]
print("Middle Item(s):", middle_items)
# IV. Slice out the first three items and the last three items
first_three = food_stuff_lt[:3]
last_three = food_stuff_lt[-3:]
print("First Three Items:", first_three)
print("Last Three Items:", last_three)
# V. Delete the food_stuff_tp tuple
del food_stuff_tp

Food Stuff Tuple: ('apple', 'banana', 'cherry', 'carrot', 'broccoli', 'spinach', 'milk', 'cheese', 'yogurt')
Food Stuff List: ['apple', 'banana', 'cherry', 'carrot', 'broccoli', 'spinach', 'milk', 'cheese', 'yogurt']
Middle Item(s): broccoli
First Three Items: ['apple', 'banana', 'cherry']
Last Three Items: ['milk', 'cheese', 'yogurt']

In [ ]:
4.Create a set given below
#it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
# Part 1: Find the length of the set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print("Length of it_companies:", len(it_companies))
# Part 2: Add 'Twitter' to it_companies
it_companies.add('Twitter')
print("Updated it_companies after adding 'Twitter':", it_companies)
# Part 3: Insert multiple IT companies at once to the set it_companies
it_companies.update(['Tesla', 'Netflix', 'Samsung'])
print("Updated it_companies after adding multiple companies:", it_companies)
# Part 4: Remove one of the companies from the set it_companies
it_companies.remove('Oracle')  # you can also use discard()
print("Updated it_companies after removing 'Oracle':", it_companies)
# Part 5: Difference between remove and discard
# `remove` raises an error if the element is not found
# `discard` does not raise an error if the element is not found

Length of it_companies: 7
Updated it_companies after adding 'Twitter': {'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Twitter', 'Amazon', 'Apple'}
Updated it_companies after adding multiple companies: {'Microsoft', 'IBM', 'Facebook', 'Apple', 'Netflix', 'Oracle', 'Google', 'Tesla', 'Amazon', 'Samsung', 'Twitter'}
Updated it_companies after removing 'Oracle': {'Microsoft', 'IBM', 'Facebook', 'Apple', 'Netflix', 'Google', 'Tesla', 'Amazon', 'Samsung', 'Twitter'}

In [ ]:
5.From the above sets A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
# Part 1: Join A and B
A_B_union = A.union(B)
print("Union of A and B:", A_B_union)
# Part 2: Find A intersection B
A_B_intersection = A.intersection(B)
print("Intersection of A and B:", A_B_intersection)
# Part 3: Is A subset of B
is_A_subset_B = A.issubset(B)
print("Is A a subset of B?", is_A_subset_B)
# Part 4: Are A and B disjoint sets
are_A_B_disjoint = A.isdisjoint(B)
print("Are A and B disjoint sets?", are_A_B_disjoint)
# Part 5: Join A with B and B with A
A.update(B)
print("Updated A after joining with B:", A)
B.update(A)
print("Updated B after joining with A:", B)
symmetric_diff = A.symmetric_difference(B)
print("Symmetric difference between A and B:", symmetric_diff)
# Part 7: Delete the sets completely
del A
del B
print("Sets A and B have been deleted.")

Union of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A a subset of B? True
Are A and B disjoint sets? False
Updated A after joining with B: {19, 20, 22, 24, 25, 26, 27, 28}
Updated B after joining with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: set()
Sets A and B have been deleted.

In [ ]:
6.WAP to create an empty dictionary called dog.Add name, color, breed, legs, age to the dog dictionary
dog = {}
dog['name'] = 'Buddy'
dog['color'] = 'Brown'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 5
print("Dog dictionary:", dog)

Dog dictionary: {'name': 'Buddy', 'color': 'Brown', 'breed': 'Labrador', 'legs': 4, 'age': 5}

In [ ]:
7.WAP to create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary
student = {
    'first_name': 'John',
    'last_name': 'Doe',
    'gender': 'Male',
    'age': 21,
    'marital_status': 'Single',
    'skills': ['Python', 'Java'],
    'country': 'USA',
    'city': 'New York',
    'address': '123 Main St'
}
# Part 1: Get the length of the student dictionary
print("Length of student dictionary:", len(student))
# Part 2: Get the value of skills and check the data type
skills_value = student['skills']
print("Skills value:", skills_value)
print("Data type of skills:", type(skills_value))
# Part 3: Modify the skills values by adding one or two skills
student['skills'].append('C++')
student['skills'].append('JavaScript')
print("Updated skills in student dictionary:", student['skills'])
# Part 4: Get the dictionary keys as a list
keys_list = list(student.keys())
print("Keys in student dictionary:", keys_list)
# Part 5: Get the dictionary values as a list
values_list = list(student.values())
print("Values in student dictionary:", values_list)
# Part 6: Change the dictionary to a list of tuples using items() method
student_items = list(student.items())
print("Student dictionary as a list of tuples:", student_items)
# Part 7: Delete one of the items in the dictionary
student.pop('marital_status')
print("Updated student dictionary after deleting 'marital_status':", student)
# Part 8: Delete the student dictionary
del student
print("Student dictionary has been deleted.")

Length of student dictionary: 9
Skills value: ['Python', 'Java']
Data type of skills: <class 'list'>
Updated skills in student dictionary: ['Python', 'Java', 'C++', 'JavaScript']
Keys in student dictionary: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Values in student dictionary: ['John', 'Doe', 'Male', 21, 'Single', ['Python', 'Java', 'C++', 'JavaScript'], 'USA', 'New York', '123 Main St']
Student dictionary as a list of tuples: [('first_name', 'John'), ('last_name', 'Doe'), ('gender', 'Male'), ('age', 21), ('marital_status', 'Single'), ('skills', ['Python', 'Java', 'C++', 'JavaScript']), ('country', 'USA'), ('city', 'New York'), ('address', '123 Main St')]
Updated student dictionary after deleting 'marital_status': {'first_name': 'John', 'last_name': 'Doe', 'gender': 'Male', 'age': 21, 'skills': ['Python', 'Java', 'C++', 'JavaScript'], 'country': 'USA', 'city': 'New York', 'address': '123 Main St'}
Student dictionary has been deleted.

In [ ]:
8.WAP to create a person dictionary.
person = {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_married': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}
# Part 1: Check if the person dictionary has 'skills' key, if so print the middle skill
if 'skills' in person:
    middle_index = len(person['skills']) // 2
    print("Middle skill in the skills list:", person['skills'][middle_index])
# Part 2: Check if the person has 'Python' skill and print out the result
if 'skills' in person and 'Python' in person['skills']:
    print("The person has 'Python' skill.")
# Part 3: Determine the developer type based on skills
if person['skills'] == ['JavaScript', 'React']:
    print("He is a front end developer")
elif all(skill in person['skills'] for skill in ['Node', 'Python', 'MongoDB']):
    print("He is a backend developer")
elif all(skill in person['skills'] for skill in ['React', 'Node', 'MongoDB']):
    print("He is a fullstack developer")
else:
    print("Unknown title")
# Part 4: Print the marital status and country if conditions are met
if person['is_married'] and person['country'] == 'Finland':
    print(f"{person['first_name']} {person['last_name']} lives in {person['country']}. He is married.")

Middle skill in the skills list: Node
The person has 'Python' skill.
He is a backend developer
Asabeneh Yetayeh lives in Finland. He is married.

In [ ]:
9.WAP to print the season name of the year based on the month number using a dictionary.
month_season = {
    1: 'Winter',
    2: 'Winter',
    3: 'Spring',
    4: 'Spring',
    5: 'Spring',
    6: 'Summer',
    7: 'Summer',
    8: 'Summer',
    9: 'Autumn',
    10: 'Autumn',
    11: 'Autumn',
    12: 'Winter'
}
month = int(input("Enter the month number (1-12): "))
print("Season for month", month, "is:", month_season.get(month, "Invalid month number"))